<h1> Bateau Thibault</h1>
<div class="group-btns">
    <div >
        <app-button-details-home 
            
            (getDetailsProduct)="onGetDetailsProduct($event)"
            ></app-button-details-home>
            <!-- <button (click)="pressTest()">PressTest</button> -->
        <!-- <div class="display-btn">
            <div class="block">
                <h4 class="spacing">Détails produits</h4>
            </div>
            <p class="spacing">Afficher les détails des produits</p>
            <button type="submit" (click)="onGetDetailsProducts()">Click</button>
        </div> -->
    </div>
    <div>
        <app-button-manage-home></app-button-manage-home>
    </div>
</div>
